.header {
    text-align: center;
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url("/Website/images/dasmotos-arts-pattern.webp");
}

.header-2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.descript-title {
    font-weight: bold;
}

.price {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}